

@media all{
    .mainwrapper {
        right: 0px;
    }

    .number-btn {
        padding: 7px 0 30px 0; 
        text-align: center;
        font-size: 20px;
        height: 10px;
        color: #000;
    }

    .pure-button-primary {
        margin: -5px 5px 0px 3px;
        margin-right: 10px;
    }

}

a {
    width: 97%;
    color: #000;
}

.btn-wrapper {
    margin-left: 5px;
}

.pure-button-xsmall {
    font-size: 70%;
}

.pure-button-small {
    font-size: 85%;
}

.pure-button-large {
    font-size: 110%;
}

.pure-button-xlarge {
    font-size: 205%;
}

a.clear-btn {
    background: rgb(202, 60, 60); ; /* this is a maroon */
}

a.equal-btn {
    background: rgb(76, 201, 71); /* this is a maroon */
}

.output-pane {
    height: 70px;
    font-size: 30px;
    background-color: #dcdcdc;
    margin-left: 6px;
}

input[type="text"][disabled] {
    width: 100%;
    text-align: right;
    float: right;
    padding: 0px;
    border: none;
    background-color: #dcdcdc;
}

input[type="text"] {
    margin-left: 5px;
    width: 100%;
    color: #000;
}

.row {
    margin-top: 10px;
}

.rowfirst {
    margin-top: 10px;
}

.borderyes {
    border: 1px solid #000;
}
