<!doctype html>
<html ng-app = "nepCalculatorApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/pure-min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />


</head>
<body>

<div ng-controller="mainController">
<div class="mainwrapper">
    <div class="pure-g output-pane">
        <div class="pure-u-1-1"><input type="text" value="{{nepoutput}}" disabled/></div>
        <div class="pure-u-1-1"><input type="text" value="{{operationToken}}" disabled/></div>
    </div>

    <div class="pure-g btn-wrapper">
        <div class="pure-g rowfirst">
                <div class="pure-u-1-4">
                    <a class="pure-button pure-button-primary number-btn" value="1" ng-click='updateOutput(1)'>१</a>
                </div> 
                <div class="pure-u-1-4">
                    <a class="pure-button pure-button-primary number-btn" value="2" ng-click='updateOutput(2)'>२</a>
                </div> 
                <div class="pure-u-1-4">
                    <a class="pure-button pure-button-primary number-btn" value="3" ng-click='updateOutput(3)'>३</a>
                </div> 
                <div class="pure-u-1-4">
                    <a class="pure-button pure-button-primary number-btn" value="1" ng-click='add()'>+</a>
                </div> 
        </div>

        <div class="pure-g row">
                <div class="pure-u-1-4">
                    <a class="pure-button pure-button-primary number-btn" value="4" ng-click='updateOutput(4)'>४</a>
                </div> 
                <div class="pure-u-1-4">
                    <a class="pure-button pure-button-primary number-btn" value="5" ng-click='updateOutput(5)'>५</a>
                </div> 
                <div class="pure-u-1-4">
                    <a class="pure-button pure-button-primary number-btn" value="6" ng-click='updateOutput(6)'>६</a>
                </div> 
                <div class="pure-u-1-4">
                    <a class="pure-button pure-button-primary number-btn" value="1" ng-click='subtract()'>-</a>
                </div> 
        </div>

        <div class="pure-g row">
                <div class="pure-u-1-4">
                    <a class="pure-button pure-button-primary number-btn" value="7" ng-click='updateOutput(7)'>७</a>
                </div> 
                <div class="pure-u-1-4">
                    <a class="pure-button pure-button-primary number-btn" value="8" ng-click='updateOutput(8)'>८</a>
                </div> 
                <div class="pure-u-1-4">
                    <a class="pure-button pure-button-primary number-btn" value="9" ng-click='updateOutput(9)'>९</a>
                </div> 
                <div class="pure-u-1-4">
                    <a class="pure-button pure-button-primary number-btn" value="1" ng-click='updateOutput(1)'>*</a>
                </div> 
        </div>

        <div class="pure-g row">
                <div class="pure-u-1-4">
                    <a class="pure-button pure-button-primary number-btn clear-btn" value="1" ng-click='clear()'>c</a>
                </div> 
                <div class="pure-u-1-4">
                    <a class="pure-button pure-button-primary number-btn" value="0" ng-click='updateOutput(0)'>०</a>
                </div> 
                <div class="pure-u-1-4">
                    <a class="pure-button pure-button-primary number-btn" value="1" ng-click='calculate()'>=</a>
                </div> 
                <div class="pure-u-1-4">
                    <a class="pure-button pure-button-primary number-btn" value="1" ng-click='updateOutput(1)'>/</a>
                </div> 
        </div>
    </div>
</div>

    <div class="pure-g output-pane2">
        <div class="pure-u-1-1"><input class="neplang" type="text" value="{{neplang}}" disabled/></div>
    </div>
</div>

<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angular-resource.min.js"></script>
<script src="js/lib/digit.js"></script>
<script src="js/app.js"></script>

</body>
</html>